<table>
  <tr>
    <th>ID</th>
    <th>Alias</th>
    <th>Submit URL</th>
  </tr>
  {% for problem in problems %}
  <tr>
    <td>{{ problem.pk }}</td>
    <td>{{ problem.alias }}</td>
    <td>
      <a href="{% url 'submit' problem.pk %}">Submit</a>
    </td>
  </tr>
  {% endfor %}
</table>
