<h3> Problem: {{ submition.problem.alias }}; Submition no. {{ submition.pk }} </h3>
<p> Status: {{ submition.status }} <p>
<h4> Tests </h4>
<table>
  <tr>
    <th>No.</th>
    <th>Status</th>
  </tr>
  {% for test in tests %}
  <tr>
    <td>{{ forloop.counter0 }}</td>
    <td>{{ test.verdict }}</td>
  </tr>
  {% endfor %}
</table>

